<div class="row">
	<label><input class="edit_switch" type="checkbox" data-toggle="toggle">&nbsp;Edit mode is <span class="toggle_state">off</span></label>
</div>
<form class="edit account_info" action="#" data-model="user" data-id="<%= id %>">

	<div class="form-group">
		<div class="row">
			<label class="col-md-6">Company Name<input name="name" disabled type="text"
													   value="<%= name %>"
													   class="form-control">
			</label>
			<label class="col-md-6">Line of Business <select name="line_of_business" disabled class="form-control">
					<option value=""></option>
					<option value="Management">Management</option>
					<option value="Agency">Agency</option>
					<option value="Promotion Venue">Promotion Venue</option>
					<option value="Network">Network</option>
					<option value="Studio">Studio</option>
					<option value="Public Relations">Public Relations</option>
					<option value="Consulting">Consulting</option>
					<option value="Talent">Talent</option>
					<option value="Client">Client</option>
					<option value="Production Company">Production Company</option>
					<option value="Photography">Photography</option>
					<option value="Editing">Editing</option>
					<option value="Business Management">Business Management</option>
					<option value="Tour Management">Tour Management</option>
					<option value="Personal">Personal</option>
					<option value="Other">Other</option>
				</select>
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<label class="col-md-6">General Email <input name="general_email" disabled type="text"
														 value="<%= general_email %>" class="form-control">
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<label class="col-md-6">Address 1 <input name="address1" disabled type="text"
													 value="<%= address1 %>" class="form-control">
			</label>
			<label class="col-md-6">Address 2 <input name="address2" disabled type="text"
													 value="<%= address2 %>" class="form-control">
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<label class="col-md-6">Zip/Postal Code<input name="postal_code" disabled type="text"
														  value="<%= postal_code %>" class="form-control">
			</label>
			<label class="col-md-6">City <input name="city" disabled type="text"
												value="<%= city %>" class="form-control">
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<label class="col-md-6">State<input name="state" disabled type="text"
												value="<%= state %>" class="form-control">
			</label>
			<label class="col-md-6">Country/Region <input name="country" disabled type="text"
														  value="<%= country %>" class="form-control">
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<label class="col-md-6">Work Phone<input name="work_phone" disabled type="text"
													 value="<%= work_phone %>" class="form-control">
			</label>
			<label class="col-md-6">Fax <input name="fax" disabled type="text"
											   value="<%= fax %>" class="form-control">
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<label class="col-md-6">Web Page<input name="webpage" disabled type="text"
												   value="<%= webpage %>" class="form-control">
			</label>
			<label class="col-md-6">Facebook <input name="facebook" disabled type="text"
													value="<%= facebook %>" class="form-control">
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<label class="col-md-6">Yahoo <input name="yahoo" disabled type="text"
												 value="<%= yahoo %>" class="form-control">
			</label>
			<label class="col-md-6">LinkedIn <input name="linkedin_company_page" disabled type="text"
													value="<%= linkedin_company_page %>" class="form-control">
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<label class="col-md-6">Twitter <input name="twitter" disabled type="text"
												   value="<%= twitter %>" class="form-control">
			</label>
			<label class="col-md-6">Instagram <input name="instagram" disabled type="text"
													 value="<%= instagram %>" class="form-control">
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<label class="col-md-6">Google <input name="google" disabled type="text"
												  value="<%= google %>" class="form-control">
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<label class="col-md-12">Notes <textarea name="note" disabled type="text"
													 value="<%= note %>" class="form-control"><%= note %></textarea>
			</label>
		</div>
	</div>


	<button type="button" style="display: none;" class="btn btn-xs btn-danger delete">Delete This Company</button>
</form>
