<%
    mk = mk_radios.first();
    console.log(mk_radios_gross_sum)
%>
<form class="edit account_info" action="#" data-model="user" data-id="<%= id %>" data-toggle="validator" role="form">

    <input type="hidden" name="user_id" value="<%= user_id %>">

    <div class="form-group">
        <div class="row">
            <label class="col-xs-6">Event ID<input name="offer_id" value="<%= offer.get('event_id') %>" type="text"
                                                   required class="form-control">
                <span class="help-block with-errors"></span>
            </label>
            <label class="col-xs-6">Budget<input name="budget" value="<%= budget %>" type="text" class="form-control">
                <span class="help-block with-errors"></span>
            </label>
        </div>
        <h5>Radio</h5>
        <div class="table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>Paid</th>
                    <th colspan="2">Station</th>
                    <th>Format</th>
                    <th>Contact</th>
                    <th colspan="2">Phone/Email</th>
                    <th>Promo Mentions</th>
                    <th>Promo Tickets</th>
                    <th>Promo Value</th>
                    <th>Promo Run</th>
                    <th>Paid Run</th>
                    <th>#Paid Spots</th>
                    <th>:30</th>
                    <th>:60</th>
                    <th class="warning">Gross</th>
                    <th class="success">Net</th>
                </tr>
                <% mk_radios.each((mk_radio) => {
                    let {company_id, station, format, contact, contact_phone_email, promo_mentions, promo_tickets,
                        promo_value, promo_run_from, promo_run_to, paid_run_from, paid_run_to, paid_spots,
                        thirty, sixty, gross, net} = mk_radio.attributes
                %>

                    <tr>
                        <td> <%= company_id.get('name') %> </td>
                        <td colspan="2"> <%= station %> </td>
                        <td> <%= format %> </td>
                        <td> <%= contact %> </td>
                        <td colspan="2"> <%= contact_phone_email %> </td>
                        <td> <%= promo_mentions %> </td>
                        <td> <%= promo_tickets %> </td>
                        <td> <%= promo_value %> </td>
                        <td> <%= promo_run_from %> to <%= promo_run_to %> </td>
                        <td> <%= paid_run_from %> to <%= paid_run_to %> </td>
                        <td> <%= paid_spots %> </td>
                        <td> <%= thirty %> </td>
                        <td> <%= sixty %> </td>
                        <td class="warning"> <%= gross %> </td>
                        <td class="success"> <%= net %> </td>
                    </tr>
                <% }) %>
                <tr>
                    <td colspan="13"> </td>
                    <td colspan="2"> <b>SUB TOTAL</b> </td>
                    <td class="warning numeric"> <%= mk_radios_gross_sum %> </td>
                    <td class="success numeric"> <%= 9 %> </td>
                </tr>
            </table>
        </div>
    </div>


    <button type="button" style="display: none;" class="btn btn-xs btn-danger delete">Delete This Marketing</button>
</form>
