<%
// console.log(mk_radios.first())
%>
<form class="edit account_info" action="#" data-model="user" data-id="<%= id %>" data-toggle="validator" role="form">

    <input type="hidden" name="user_id" value="<%= user_id %>">

    <div class="form-group">
        <div class="row">
            <label class="col-xs-6">Event ID<input name="offer_id" value="<%= offer.get('event_id') %>" type="text"
                                                   required class="form-control">
                <span class="help-block with-errors"></span>
            </label>
            <label class="col-xs-6">Budget<input name="budget" value="<%= budget %>" type="text" class="form-control">
                <span class="help-block with-errors"></span>
            </label>
        </div>
        <h5>Radio</h5>
        <% mk_radios.each((mk_radio) => {
            let {station, format, contact} = mk_radio.attributes
        %>
        <div class="row">
            Station: <%= station %>
            Format: <%= format %>
            Contact: <%= contact %>
        </div>
        <% })
        delete station
        %>
    </div>


    <button type="button" style="display: none;" class="btn btn-xs btn-danger delete">Delete This Marketing</button>
</form>
