<%
var V = {};//Array to store variables
var ve = {};
var variable_expense = variable_expense || "{}";
var production_expense = production_expense || "{}";
var general_expense = general_expense || "{}";
var is_tbd_date = is_tbd_date || 0;
var is_on_sale_date_tbd = is_on_sale_date_tbd || 0;
var comp_opt = print_option_fr_collection('companies');
var agent_opt = print_option_fr_collection('agents');
var promoter_opt = print_option_fr_collection('promoters');
var venue_opt = print_option_fr_collection('venues');
var artist_opt = print_option_fr_collection('artists', 'fullname');
var ticketing_company_opt = print_option_fr_collection('ticketing_companies');
if (_.isObject(created_at)) {
	created_at = '';
}
if (_.isObject(updated_at)) {
	updated_at = '';
}

/**
 * Recalculate offer values
 * Being used both in edit mode and create mode
 * Needs variables available: V, l1_price, etc...
 * In edit mode, these variables are initiated using _ template
 * In create mode, these variables are re-initiated everytime a field is blurred: function update_field_cr8
 */
function recalculate_offer_values() {
	l1_price = parseFloatOr0(l1_price);
	l2_price = parseFloatOr0(l2_price);
	l3_price = parseFloatOr0(l3_price);
	l4_price = parseFloatOr0(l4_price);
	l5_price = parseFloatOr0(l5_price);
	l1_kill = parseFloatOr0(l1_kill);
	l2_kill = parseFloatOr0(l2_kill);
	l3_kill = parseFloatOr0(l3_kill);
	l4_kill = parseFloatOr0(l4_kill);
	l5_kill = parseFloatOr0(l5_kill);
	l1_gross_ticket = parseFloatOr0(l1_gross_ticket);
	l2_gross_ticket = parseFloatOr0(l2_gross_ticket);
	l3_gross_ticket = parseFloatOr0(l3_gross_ticket);
	l4_gross_ticket = parseFloatOr0(l4_gross_ticket);
	l5_gross_ticket = parseFloatOr0(l5_gross_ticket);
	V.l1_gross = (l1_gross_ticket - l1_kill) * l1_price;
	V.l2_gross = (l2_gross_ticket - l2_kill) * l2_price;
	V.l3_gross = (l3_gross_ticket - l3_kill) * l3_price;
	V.l4_gross = (l4_gross_ticket - l4_kill) * l4_price;
	V.l5_gross = (l5_gross_ticket - l5_kill) * l5_price;
	V.num_of_ticket_level = ((l1_gross_ticket - l1_kill !== 0) ? 1 : 0) + ((l2_gross_ticket - l2_kill !== 0) ? 1 : 0) + ((l3_gross_ticket - l3_kill !== 0) ? 1 : 0) +
			((l4_gross_ticket - l4_kill !== 0) ? 1 : 0) + ((l5_gross_ticket - l5_kill !== 0) ? 1 : 0);

	V.sum_gross = V.l1_gross + V.l2_gross + V.l3_gross + V.l4_gross + V.l5_gross;
	V.sum_gross_ticket = l1_gross_ticket + l2_gross_ticket + l3_gross_ticket + l4_gross_ticket + l5_gross_ticket;
	V.sum_kill = l1_kill + l2_kill + l3_kill + l4_kill + l5_kill;
	V.total_gross_ticket_price = (V.sum_gross_ticket - V.sum_kill == 0) ? 0 : V.sum_gross / (V.sum_gross_ticket - V.sum_kill);
	V.average_ticket_price = parseFloat(Number(V.total_gross_ticket_price).toFixed(2));
	if (!_.isNaN(post_show_lockout) && post_show_lockout_unit !== '' && !_.isEmpty(show_date)) {
		V.playable_on = moment(show_date,'YYYY-MM-DD').add(1, 'day');//move forward 1 day
		switch (post_show_lockout_unit) {
			case 'Days':
				V.playable_on.add(post_show_lockout,'day');// = new Date(V.playable_on.setTime(V.playable_on.getTime() + post_show_lockout * 86400000));
				break;
			case 'Months':
				V.playable_on.add(post_show_lockout,'month');// = new Date(V.playable_on.setMonth(V.playable_on.getMonth() + post_show_lockout));
				break;
			default:
				break;
		}
		V.playable_on_date_string = V.playable_on.format('YYYY-MM-DD');
	} else {
		V.playable_on_date_string = '';
	}
	ve = {};
	if (typeof variable_expense !== 'undefined') try {
		ve = JSON.parse(variable_expense);
	} catch (e) {
		console.error("Error parsing var expense: " + variable_expense + " error: " + e);
	}
	V.total_ve = parseFloatOr0($('#total_variable_expense').val());

	V.support_artist_total = parseFloatOr0(support_artist_1_total) + parseFloatOr0(support_artist_2_total) + parseFloatOr0(support_artist_3_total);
	var pe = {};
	if (typeof production_expense !== 'undefined') try {
		pe = JSON.parse(production_expense);
	} catch (e) {
		console.error("Error parsing prod expense: " + production_expense + " error: " + e);
	}
	V.tour_production_expenses = app.utils.misc.calc_sum_from_array(pe);
	var ge = {};
	if (typeof general_expense !== 'undefined') try {
		ge = JSON.parse(general_expense);
	} catch (e) {
		console.error("Error parsing gen expense: " + general_expense + " error: " + e);
	}
	V.tour_production_expenses = app.utils.misc.calc_sum_from_array(pe);
	V.general_expenses_total = app.utils.misc.calc_sum_from_array(ge) + parseFloatOr0(housenut_total);
	V.total_fixed_expenses = V.general_expenses_total + V.tour_production_expenses;

	V.tax_per_ticket_total = parseFloatOr0(tax_per_ticket * (V.sum_gross_ticket - V.sum_kill)).toFixed(2);
	V.tax_total = V.sum_gross - (V.sum_gross / (1 + tax / 100)); //Tax Total=Gross Potential-(Gross Potential/(Tax %+1))
	V.net_potential = V.sum_gross - V.tax_total - V.tax_per_ticket_total;

	V.total_estimated_expenses = V.total_fixed_expenses;
	V.aw_est_expense = Number(V.total_fixed_expenses + V.total_ve).toFixed(2);

	V.aw_artist_split_percent = 0;
	V.aw_artist_split = 0;
	V.aw_artist_fee = parseFloat(artist_guarantee);
	V.aw_artist_production = 0;
	console.info("is_artist_production_buyout" + is_artist_production_buyout);
	if (is_artist_production_buyout && (is_artist_production_buyout == 1 || is_artist_production_buyout == 'Yes')) {
		V.aw_artist_fee += V.tour_production_expenses;
		V.aw_artist_production = V.tour_production_expenses;
	}
	V.aw_promoter_split_percent = 100 - artist_split;
	V.aw_promoter_split = 0;
	V.aw_est_total = Number(V.aw_est_expense + V.aw_artist_fee).toFixed(2);
	V.aw_breakeven_tix = (V.average_ticket_price > 0) ? V.aw_est_total / V.average_ticket_price : 0;

	artist_comp = Number(artist_comp);
	production_comp = Number(production_comp);
	promotional_comp = Number(promotional_comp);
	house_comp = Number(house_comp);
	kill = Number(kill);
	V.total_comp_kill = Number(artist_comp + production_comp + promotional_comp + house_comp + kill).toFixed(0);

//format NAN
	$.each(V, function (i, v) {
		if (isNumeric(V[i])) {
			V[i] = Number(V[i]).toFixed(2);
		}
	});
}
recalculate_offer_values();
%>

<form class="edit account_info" action="#" data-model="user" data-id="<%= id %>">
	<div class="form-group">
		<div class="row">
			<label class="col-xs-6">Offer Event ID<input name="event_id" disabled type="text"
														 value="<%= event_id %>"
														 class="form-control">
			</label>
			<label class="col-xs-6">Show# <br/><input name="show_number" disabled type="text"
													  value="<%= show_number %>"
				> of <input name="show_total_num" disabled type="text"
							value="<%= show_total_num %>"
				>
			</label>
		</div>
		<div class="row">
			<label class="col-xs-4">Agency<select name="agency_id" disabled value="<%= agency_id %>"
												  class="form-control">
					<%= comp_opt %>
				</select>
			</label>

			<label class="col-xs-4">Agent<select name="agent_id" disabled value="<%= agent_id %>"
												 class="form-control">
					<%= agent_opt %>
				</select>
			</label>
			<label class="col-xs-4">Status<select name="status" disabled
												  value="<%= status %>"
												  class="form-control">
					<option value=""></option>
					<option value="Confirmed">Confirmed</option>
					<option value="Declined">Declined</option>
					<option value="New">New</option>
					<option value="Pending">Pending</option>
					<option value="Reviewed">Reviewed</option>
					<option value="Revised">Revised</option>
					<option value="Signed">Signed</option>
					<option value="Submitted">Submitted</option>
					<option value="Unsubmitted">Unsubmitted</option>
				</select>
			</label>

		</div>
		<div class="row">
			<label class="col-xs-6">Created<input name="created_at" disabled readonly type="text"
												  value="<%= created_at %>"
												  class="form-control sys_gen">
			</label>
			<label class="col-xs-6">Revised<input name="updated_at" disabled readonly type="text"
												  value="<%= updated_at %>"
												  class="form-control sys_gen">
			</label>
		</div>
		<div class="row">
			<label class="col-xs-6">Booked By<input name="user_id" disabled readonly type="text"
													value="<%= app.cur_user.getFullName() %>"
													class="form-control sys_gen">
			</label>
			<label class="col-xs-6">Offer Type<select name="offer_type" disabled type="text"
													  value="<%= offer_type %>"
													  class="form-control">
					<option value=""></option>
					<option value="3rd Party">3rd Party</option>
					<option value="Co-Pro Promoter">Co-Pro Promoter</option>
					<option value="Co-Pro Venue">Co-Pro Venue</option>
					<option value="Icon">Icon</option>
				</select>
			</label>
		</div>
		<div class="row">
			<label class="col-xs-6">Co-Pro Promoter<select name="copro_promoter_id" disabled
														   value="<%= copro_promoter_id %>"
														   class="form-control">
					<%= promoter_opt %>
				</select>
			</label>
			<label class="col-xs-6">Co-Pro Venue<select name="copro_venue_id" disabled value="<%= copro_venue_id %>" class="form-control">
					<%= venue_opt %>
				</select>
			</label>
		</div>
	</div>
	<h4>General Information</h4>
	<div class="form-group">
		<div class="row">
			<label class="col-xs-6">Artist<select name="artist_id" disabled value="<%= artist_id %>" class="form-control">
					<%= artist_opt %>
				</select>
			</label>
			<label class="col-xs-6">Venue<select name="venue_id" disabled value="<%= venue_id %>" class="form-control">
					<%= venue_opt %>
				</select>
			</label>
		</div>
		<div class="row">
			<label class="col-xs-6">Show Date<input name="show_date" disabled type="date"
													value="<%= show_date %>"
													class="form-control">
			</label>
			<label class="col-xs-6">Show Date TBD<br><input name="is_tbd_date" disabled type="checkbox"
															value="<%= is_tbd_date %>" <%= is_tbd_date ? "checked=1" : "" %> >
			</label>
		</div>
		<div class="row">
			<label class="col-xs-4">Show Type<select name="show_type" disabled value="<%= show_type %>"
													 class="form-control">
					<option value=""></option>
					<option value="Casino">Casino</option>
					<option value="College">College</option>
					<option value="College - Private">College - Private</option>
					<option value="Fair">Fair</option>
					<option value="Festival">Festival</option>
					<option value="Private">Private</option>
					<option value="Public">Public</option>
				</select>
			</label>
			<label class="col-xs-4">Doors<br><input name="doors" disabled type="time" value="<%= doors %>"
													class="form-control">
			</label>
			<label class="col-xs-4">Showtime<br><input name="showtime" disabled type="time" value="<%= showtime %>"
													   class="form-control">
			</label>
		</div>
		<div class="row">
			<label class="col-xs-12">Notes<textarea name="notes" disabled value="<%= notes %>"
													class="form-control"><%= notes %></textarea>
			</label>
		</div>
	</div>
	<h4>Ticket Scaling</h4>
	<div class="form-group">
		<div class="row">
			<label class="col-xs-3">On Sale Date<input name="on_sale_date" type="date" disabled
													   value="<%= on_sale_date %>"
													   class="form-control">
			</label>
			<label class="col-xs-1">TBD <br><input name="is_on_sale_date_tbd" type="checkbox" disabled
												   value="<%= is_on_sale_date_tbd %>"
						<%= is_on_sale_date_tbd ? "checked=1" : "" %> >
			</label>
			<label class="col-xs-5">Ticketing Company<select disabled name="ticketing_company_id"
															 value="<%= ticketing_company_id %>"
															 class="form-control">
					<%= ticketing_company_opt %>
				</select>
			</label>
			<label class="col-xs-3">Seating Plan<input disabled name="seating_plan"
													   value="<%= seating_plan %>" maxlength="80"
													   class="form-control">
			</label>
		</div>
		<br>
		<div class="row">
			<label class="col-xs-1 text-bold"> </label>
			<label class="col-xs-2 text-bold">Gross Tickets</label>
			<label class="col-xs-1 text-bold">Kills/Comps</label>
			<label class="col-xs-2 text-bold">Sellable Tickets</label>
			<label class="col-xs-2 text-bold">Ticket Price</label>
			<label class="col-xs-2 text-bold">Level Gross</label>
		</div>
		<div class="row ticket_scaling">
			<label class="col-xs-1 ">Level 1</label>
			<label class="col-xs-2"><input name="l1_gross_ticket" disabled value="<%= l1_gross_ticket %>"
										   class="  form-control"></label>
			<label class="col-xs-1"><input name="l1_kill" disabled step="any" value="<%= l1_kill %>"
										   class="  form-control"></label>
			<label class="col-xs-2"><input readonly class="l1 sellable_ticket  sys_gen form-control"
										   value="<%= l1_gross_ticket - l1_kill %>"></label>
			<label class="col-xs-2"><input name="l1_price" disabled step="any" value="<%= l1_price %>"
										   class="money  form-control"></label>
			<label class="col-xs-2"><input readonly class="money l1 gross  sys_gen form-control"
										   value="<%= V.l1_gross %>"></label>
		</div>
		<div class="row ticket_scaling">
			<label class="col-xs-1 ">Level 2</label>
			<label class="col-xs-2"><input name="l2_gross_ticket" disabled value="<%= l2_gross_ticket %>"
										   class="  form-control"></label>
			<label class="col-xs-1"><input name="l2_kill" disabled step="any" value="<%= l2_kill %>"
										   class="  form-control"></label>
			<label class="col-xs-2"><input readonly class="l2 sellable_ticket  sys_gen form-control"
										   value="<%= l2_gross_ticket - l2_kill %>"></label>
			<label class="col-xs-2"><input name="l2_price" disabled step="any" value="<%= l2_price %>"
										   class="money  form-control"></label>
			<label class="col-xs-2"><input readonly class="money l2  gross  sys_gen form-control"
										   value="<%= V.l2_gross %>"></label>
		</div>
		<div class="row ticket_scaling">
			<label class="col-xs-1 ">Level 3</label>
			<label class="col-xs-2"><input name="l3_gross_ticket" disabled value="<%= l3_gross_ticket %>"
										   class="  form-control"></label>
			<label class="col-xs-1"><input name="l3_kill" disabled step="any" value="<%= l3_kill %>"
										   class="  form-control"></label>
			<label class="col-xs-2"><input readonly class="l3 sellable_ticket  sys_gen form-control"
										   value="<%= l3_gross_ticket - l3_kill %>"></label>
			<label class="col-xs-2"><input name="l3_price" disabled step="any" value="<%= l3_price %>"
										   class="money  form-control"></label>
			<label class="col-xs-2"><input readonly class="money l3  gross  sys_gen form-control"
										   value="<%= V.l3_gross %>"></label>
		</div>
		<div class="row ticket_scaling">
			<label class="col-xs-1 ">Level 4</label>
			<label class="col-xs-2"><input name="l4_gross_ticket" disabled value="<%= l4_gross_ticket %>"
										   class="  form-control"></label>
			<label class="col-xs-1"><input name="l4_kill" disabled step="any" value="<%= l4_kill %>"
										   class="  form-control"></label>
			<label class="col-xs-2"><input readonly class="l4 sellable_ticket  sys_gen form-control"
										   value="<%= l4_gross_ticket - l4_kill %>"></label>
			<label class="col-xs-2"><input name="l4_price" disabled step="any" value="<%= l4_price %>"
										   class="money  form-control"></label>
			<label class="col-xs-2"><input readonly class="money l4  gross  sys_gen form-control"
										   value="<%= V.l4_gross %>"></label>
		</div>
		<div class="row ticket_scaling">
			<label class="col-xs-1 ">Level 5</label>
			<label class="col-xs-2"><input name="l5_gross_ticket" disabled value="<%= l5_gross_ticket %>"
										   class="  form-control"></label>
			<label class="col-xs-1"><input name="l5_kill" disabled step="any" value="<%= l5_kill %>"
										   class="  form-control"></label>
			<label class="col-xs-2"><input readonly class="l5 sellable_ticket  sys_gen form-control"
										   value="<%= l5_gross_ticket - l5_kill %>"></label>
			<label class="col-xs-2"><input name="l5_price" disabled step="any" value="<%= l5_price %>"
										   class="money  form-control"></label>
			<label class="col-xs-2"><input readonly class="money l5  gross  sys_gen form-control"
										   value="<%= V.l5_gross %>"></label>
		</div>
		<div class="row sum">
			<label class="col-xs-1 ">Total Gross</label>
			<label class="col-xs-2"><input id="gross_ticket" readonly value="<%= V.sum_gross_ticket %>"
										   class="  form-control  sys_gen"></label>
			<label class="col-xs-1"><input id="total_kill" readonly step="any" value="<%= V.sum_kill %>"
										   class="  form-control  sys_gen"></label>
			<label class="col-xs-2"><input readonly class="total total_sellable_ticket  sys_gen form-control"
										   value="<%= V.sum_gross_ticket - V.sum_kill %>"></label>
			<label class="col-xs-2"></label>
			<label class="col-xs-2"><input readonly class="money total  gross  sys_gen form-control"
										   value="<%= V.sum_gross %>"></label>
		</div>
		<div class="row average">
			<label class="col-xs-1 ">Average</label>
			<label class="col-xs-2"><input id="average_ticket" readonly
										   value="<%= (V.num_of_ticket_level > 0) ? V.sum_gross_ticket / V.num_of_ticket_level : 0 %>"
										   class="  form-control  sys_gen"></label>
			<label class="col-xs-1"><input id="average_kill" readonly step="any"
										   value="<%= (V.num_of_ticket_level > 0) ? V.sum_kill / V.num_of_ticket_level : 0 %>"
										   class="  form-control  sys_gen"></label>
			<label class="col-xs-2"><input readonly class="average sellable_ticket  sys_gen form-control"
										   value="<%= (V.num_of_ticket_level > 0) ? (V.sum_gross_ticket - V.sum_kill) / V.num_of_ticket_level : 0 %>"></label>
			<label class="col-xs-2"><input readonly id="average_ticket_price" step="any"
										   class="money  form-control  sys_gen"
										   value="<%= V.total_gross_ticket_price %>"></label>
			<label class="col-xs-2"><input readonly class="money average gross  sys_gen form-control"
										   value="<%= (V.num_of_ticket_level > 0) ? V.sum_gross / V.num_of_ticket_level : 0 %>"></label>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
			<label class="col-xs-2 text_underlined">Gross Potential </label>
			<div class="col-xs-2"></div>
			<div class="col-xs-2 content-padded"><strong><input readonly id="gross_potential" step="any"
																value="<%= V.sum_gross %>"
																class="money    sys_gen"></strong></div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
			<label class="col-xs-2">Tax % </label>
			<div class="col-xs-2 content-padded"><input disabled type="number" name="tax" step="any" value="<%= tax %>">
			</div>
			<div class="col-xs-2 content-padded"><input readonly id="tax_input" value="<%= V.tax_total %>"
														class="money sys_gen"></div>
			<div class="col-xs-2 content-padded"><input disabled name="tax_note" placeholder=""
														value="<%= tax_note %>">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
			<label class="col-xs-2">Tax per Ticket </label>
			<div class="col-xs-2 content-padded"><input disabled name="tax_per_ticket" step="any" class="money "
														value="<%= tax_per_ticket %>"></div>
			<div class="col-xs-2 content-padded"><input readonly id="tax_per_ticket_total" value="<%= V.tax_per_ticket_total %>" class="money  sys_gen"></div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
			<label class="col-xs-2 text_underlined">Net Potential </label>
			<div class="col-xs-2"></div>
			<div class="col-xs-2 content-padded"><b><input readonly id="net_potential"
														   value="<%= V.net_potential %>"
														   class="money  sys_gen"></b></div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
			<label class="col-xs-2">Facility Fee</label>
			<div class="col-xs-2 content-padded"><input disabled name="facility_fee" step="any" class="money "
														value="<%= facility_fee %>"></div>
			<div class="col-xs-2 content-padded"><input readonly id="facility_fee_total" value="<%= facility_fee * (V.sum_gross_ticket - V.sum_kill) %>"
														class="money  sys_gen"></div>
			<div class="col-xs-2 content-padded"><input disabled name="facility_fee_note" placeholder="" value="<%= facility_fee_note %>"></div>
		</div>
	</div>
	<h4>Artist Deal</h4>
	<div class="form-group">
		<div class="row">
			<label class="col-xs-3">Artist Guarantee<input disabled name="artist_guarantee"
														   value="<%= artist_guarantee %>" type="text"
														   class="money form-control"></label>
			<label class="col-xs-3">Artist Deposit <input disabled name="artist_deposit" value="<%= artist_deposit %>"
														  type="text" class="money form-control"></label>
			<label class="col-xs-3">Offer<select disabled name="artist_offer_type" value="<%= artist_offer_type %>"
												 class="form-control">
					<option value=""></option>
					<option value="Guarantee">Guarantee</option>
					<option value="Split">Split</option>
					<option value="Plus">Plus</option>
					<option value="Vs.">Vs.</option>
					<option value="Backend">Backend</option>
				</select></label>
			<label class="col-xs-3">Artist Production Buyout <select name="is_artist_production_buyout"
																	 value="<%= is_artist_production_buyout %>"
																	 type="text" class="form-control">
					<option value=""></option>
					<option value="1">Yes</option>
					<option value="0">No</option>
				</select>
			</label>
		</div>
		<div class="row">
			<label class="col-xs-2">Artist Split %<input disabled name="artist_split" value="<%= artist_split %>"
														 class="percent form-control"></label>
			<label class="col-xs-2">Promoter Split % <input readonly id="promoter_split"
															value="<%= 100 - artist_split %>" type="text"
															class="form-control  sys_gen"></label>
			<label class="col-xs-2">Promoter Profit %<input disabled name="promoter_profit"
															value="<%= promoter_profit %>"
															class=" form-control"></label>
			<label class="col-xs-2">Expense Application <select name="expense_application"
																value="<%= expense_application %>" class="form-control">
					<option value=""></option>
					<option value="Gross">Gross</option>
					<option value="Net">Net</option>
				</select>
			</label>
			<label class="col-xs-4">Sponsorship<input disabled name="sponsorship" value="<%= sponsorship %>" type="text"
													  class="form-control"></label>
		</div>
		<div class="row">
			<label class="col-xs-3 has_inline_inputs">Radius Clause<br>
				<input disabled name="radius_clause" type="number" step="1" value="<%= radius_clause %>"
					   class=" form-control">
				<select disabled name="radius_clause_metric" value="<%= radius_clause_metric %>">
					<option value=""></option>
					<option value="KM">KM</option>
					<option value="Miles">Miles</option>
				</select></label>
			<label class="col-xs-3 has_inline_inputs">Pre-Show Lockout <br>
				<input disabled name="pre_show_lockout" type="number" step="1" value="<%= pre_show_lockout %>"
					   class=" form-control">
				<select disabled name="pre_show_lockout_unit" value="<%= pre_show_lockout_unit %>">
					<option value=""></option>
					<option value="Days">Days</option>
					<option value="Months">Months</option>
				</select></label>
			<label class="col-xs-3 has_inline_inputs">Post-Show Lockout <br>
				<input disabled name="post_show_lockout" type="number" step="1" value="<%= post_show_lockout %>"
					   class=" form-control">
				<select disabled name="post_show_lockout_unit" value="<%= post_show_lockout_unit %>">
					<option value=""></option>
					<option value="Days">Days</option>
					<option value="Months">Months</option>
				</select></label>
			<label class="col-xs-3">Playable On <input readonly id="playable_on"
													   value="<%= V.playable_on_date_string %>" type="text"
													   class="form-control  sys_gen"></label>
		</div>
		<br>
		<div class="row">
			<label class="col-xs-12">Note<textarea disabled name="artist_deal_note" value="<%= artist_deal_note %>"
												   class="form-control"><%= artist_deal_note %></textarea></label>
		</div>
	</div>
	<h4>Support Artist Expenses</h4>
	<div class="form-group">
		<div class="row">
			<div class="col-xs-10"></div>
			<label class="col-xs-2">Total</label>
		</div>
		<div class="row">
			<label class="label_wo_input col-xs-3">Support Artist 1</label>
			<span class="col-xs-7"><select name="support_artist_1_id" value="<%= support_artist_1_id %>"
										   class="form-control">
					<%= artist_opt %>
				</select></span>
			<span class="col-xs-2"><input name="support_artist_1_total" value="<%= support_artist_1_total %>"
										  step="any" class="money  form-control"></span>
		</div>
		<div class="row">
			<label class="label_wo_input col-xs-3">Support Artist 2</label>
			<span class="col-xs-7"><select name="support_artist_2_id" value="<%= support_artist_2_id %>"
										   class="form-control">
					<%= artist_opt %>
				</select></span>
			<span class="col-xs-2"><input name="support_artist_2_total" value="<%= support_artist_2_total %>"
										  step="any" class="money  form-control"></span>
		</div>
		<div class="row">
			<label class="label_wo_input col-xs-3">Support Artist 3</label>
			<span class="col-xs-7"><select name="support_artist_3_id" value="<%= support_artist_3_id %>"
										   class="form-control">
					<%= artist_opt %>
				</select></span>
			<span class="col-xs-2"><input name="support_artist_3_total" value="<%= support_artist_3_total %>"
										  step="any" class="money  form-control"></span>
		</div>
		<div class="row">
			<label class="col-xs-10 text-right text_underlined">Total Support Expenses</label>
			<span class="col-xs-2"> 	<input class="money  form-control  sys_gen" readonly id="support_artist_total"
											  type="text" value="<%= V.support_artist_total %>"></span>
		</div>
	</div>
	<div class="clearfix"></div>
	<h4>General Expenses <input id="general_expense_input" hidden name="general_expense" type="text"
								value='<%= general_expense %>'>
	</h4>
	<div id="general_expense" class="array_field_wrapper" data-array_field_id='general_expense_input'></div>
	<div class="clearfix"></div>
	<h4>Production <input id="production_expense_input" hidden name="production_expense" type="text"
						  value='<%= production_expense %>'>
	</h4>
	<div id="production_expense" class="array_field_wrapper" data-array_field_id='production_expense_input'></div>
	<br>
	<h4>House</h4>
	<div class="form-group">
		<div class="row">
			<label class="col-xs-4">House Nut Total<input name="housenut_total" disabled step="any"
														  value="<%= housenut_total %>"
														  class="money  form-control"></label>
		</div>
		<div class="row">
			<label class="col-xs-12">House Nut Expenses<textarea name="housenut_expense" disabled
																 value="<%= housenut_expense %>"
																 class="form-control"><%= housenut_expense %></textarea>
			</label>
		</div>
	</div>
	<div class="form-group">
		<div class="row input_atomic">
			<label class="col-xs-10 text-right "><b>Tour Production Expenses</b></label>
			<input step="any" readonly class="money sys_gen col-xs-2 " id="tour_production_expenses"
				   value="<%= V.tour_production_expenses %>">
		</div>
		<div class="row input_atomic">
			<label class="col-xs-10 text-right "><b>General Expenses</b></label>
			<input step="any" readonly class="money sys_gen  col-xs-2 " id="general_expenses_total"
				   value="<%= V.general_expenses_total %>">
		</div>
		<div class="row input_atomic">
			<label class="col-xs-10 text-right text_underlined "><b>Total Fixed Expenses</b></label>
			<input step="any" readonly class="money sys_gen  col-xs-2 text-bold " id="total_fixed_expenses"
				   value=<%= V.total_fixed_expenses %>>
		</div>
	</div>
	<div class="form-group">
		<label class="row col-xs-12">Notes<textarea name="general_expense_note" disabled
													value="<%= general_expense_note %>"
													class="form-control"><%= general_expense_note %></textarea></label>
	</div>
	<h4>Variable Expenses</h4>
	<div class="form-group var_expense" id="var_expense">
		<div class="text-center row">
			<label class="col-xs-2 col-xs-offset-55 ">Per Ticket</label>
			<label class="col-xs-25">Cap</label>
		</div>
		<div class="row text-center">
			<label class="col-xs-2 col-xs-offset-2">Notes</label>
			<label class="col-xs-15">Flat Rate</label>
			<label class="col-xs-1">$</label>
			<label class="col-xs-1">%</label>
			<label class="col-xs-1">Min</label>
			<label class="col-xs-15">Max</label>
			<label class="col-xs-2">Sell Out Potential</label>
		</div>
		<div class="row">
			<label class="col-xs-2 input_atomic">Rental</label>
			<div class="col-xs-2"><input class="form-control skip_ajax" name="rental_note"
										 value="<%= ve['rental_note'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="rental_flat_rate"
										  value="<%= ve['rental_flat_rate'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="rental_per_ticket_dollar"
										 value="<%= ve['rental_per_ticket_dollar'] %>"></div>
			<div class="col-xs-1"><input type="number" step="any" class="form-control skip_ajax" name="rental_per_ticket_percent"
										 value="<%= ve['rental_per_ticket_percent'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="rental_min"
										 value="<%= ve['rental_min'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="rental_max"
										  value="<%= ve['rental_max'] %>"></div>
			<div class="col-xs-2"><input readonly class="money  form-control skip_ajax  sys_gen sellout_potential"
										 data-category="rental"></div>
		</div>
		<div class="row">
			<label class="col-xs-2 input_atomic">Tix Commission</label>
			<div class="col-xs-2"><input class="form-control skip_ajax" name="tixcom_note"
										 value="<%= ve['tixcom_note'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="tixcom_flat_rate"
										  value="<%= ve['tixcom_flat_rate'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="tixcom_per_ticket_dollar"
										 value="<%= ve['tixcom_per_ticket_dollar'] %>"></div>
			<div class="col-xs-1"><input type="number" step="any" class="form-control skip_ajax" name="tixcom_per_ticket_percent"
										 value="<%= ve['tixcom_per_ticket_percent'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="tixcom_min"
										 value="<%= ve['tixcom_min'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="tixcom_max"
										  value="<%= ve['tixcom_max'] %>"></div>
			<div class="col-xs-2"><input readonly class="money  form-control skip_ajax  sys_gen sellout_potential"
										 data-category="tixcom"></div>
		</div>
		<div class="row">
			<label class="col-xs-2 input_atomic">Tix Service Fees</label>
			<div class="col-xs-2"><input class="form-control skip_ajax" name="tix_service_fee_note"
										 value="<%= ve['tix_service_fee_note'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="tix_service_fee_flat_rate"
										  value="<%= ve['tix_service_fee_flat_rate'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="tix_service_fee_per_ticket_dollar"
										 value="<%= ve['tix_service_fee_per_ticket_dollar'] %>"></div>
			<div class="col-xs-1"><input type="number" step="any" class="form-control skip_ajax" name="tix_service_fee_per_ticket_percent"
										 value="<%= ve['tix_service_fee_per_ticket_percent'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="tix_service_fee_min"
										 value="<%= ve['tix_service_fee_min'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="tix_service_fee_max"
										  value="<%= ve['tix_service_fee_max'] %>"></div>
			<div class="col-xs-2"><input readonly class="money  form-control skip_ajax  sys_gen sellout_potential"
										 data-category="tix_service_fee"></div>
		</div>
		<div class="row">
			<label class="col-xs-2 input_atomic">Box Office Fees</label>
			<div class="col-xs-2"><input class="form-control skip_ajax" name="box_office_fee_note"
										 value="<%= ve['box_office_fee_note'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="box_office_fee_flat_rate"
										  value="<%= ve['box_office_fee_flat_rate'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="box_office_fee_per_ticket_dollar"
										 value="<%= ve['box_office_fee_per_ticket_dollar'] %>"></div>
			<div class="col-xs-1"><input type="number" step="any" class="form-control skip_ajax" name="box_office_fee_per_ticket_percent"
										 value="<%= ve['box_office_fee_per_ticket_percent'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="box_office_fee_min"
										 value="<%= ve['box_office_fee_min'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="box_office_fee_max"
										  value="<%= ve['box_office_fee_max'] %>"></div>
			<div class="col-xs-2"><input readonly class="money  form-control skip_ajax  sys_gen sellout_potential"
										 data-category="box_office_fee"></div>
		</div>
		<div class="row">
			<label class="col-xs-2 input_atomic">Event Tax</label>
			<div class="col-xs-2"><input class="form-control skip_ajax" name="event_tax_note"
										 value="<%= ve['event_tax_note'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="event_tax_flat_rate"
										  value="<%= ve['event_tax_flat_rate'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="event_tax_per_ticket_dollar"
										 value="<%= ve['event_tax_per_ticket_dollar'] %>"></div>
			<div class="col-xs-1"><input type="number" step="any" class="form-control skip_ajax" name="event_tax_per_ticket_percent"
										 value="<%= ve['event_tax_per_ticket_percent'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="event_tax_min"
										 value="<%= ve['event_tax_min'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="event_tax_max"
										  value="<%= ve['event_tax_max'] %>"></div>
			<div class="col-xs-2"><input readonly class="money  form-control skip_ajax  sys_gen sellout_potential"
										 data-category="event_tax"></div>
		</div>
		<div class="row">
			<label class="col-xs-2 input_atomic">Insurance</label>
			<div class="col-xs-2"><input class="form-control skip_ajax" name="insurance_note"
										 value="<%= ve['insurance_note'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="insurance_flat_rate"
										  value="<%= ve['insurance_flat_rate'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="insurance_per_ticket_dollar"
										 value="<%= ve['insurance_per_ticket_dollar'] %>"></div>
			<div class="col-xs-1"><input type="number" step="any" class="form-control skip_ajax" name="insurance_per_ticket_percent"
										 value="<%= ve['insurance_per_ticket_percent'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="insurance_min"
										 value="<%= ve['insurance_min'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="insurance_max"
										  value="<%= ve['insurance_max'] %>"></div>
			<div class="col-xs-2"><input readonly class="money  form-control skip_ajax  sys_gen sellout_potential"
										 data-category="insurance"></div>
		</div>
		<div class="row">
			<label class="col-xs-2 input_atomic">SESEC</label>
			<div class="col-xs-2"><input class="form-control skip_ajax" name="sesec_note"
										 value="<%= ve['sesec_note'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="sesec_flat_rate"
										  value="<%= ve['sesec_flat_rate'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="sesec_per_ticket_dollar" data-decimalPlacesOverride="4"
										 value="<%= ve['sesec_per_ticket_dollar'] %>"></div>
			<div class="col-xs-1"><input type="number" step="any" class="form-control skip_ajax" name="sesec_per_ticket_percent"
										 value="<%= ve['sesec_per_ticket_percent'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="sesec_min"
										 value="<%= ve['sesec_min'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="sesec_max"
										  value="<%= ve['sesec_max'] %>"></div>
			<div class="col-xs-2"><input readonly class="money  form-control skip_ajax  sys_gen sellout_potential"
										 data-category="sesec"></div>
		</div>
		<div class="row">
			<label class="col-xs-2 input_atomic">ASCAP
				<button type="button" id="ascap_update" data-toggle="modal" data-target="#ascap_modal">Update</button>
			</label>
			<div class="col-xs-2"><input class="form-control skip_ajax" name="ascap_note"
										 value="<%= ve['ascap_note'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="ascap_flat_rate"
										  value="<%= ve['ascap_flat_rate'] %>"></div>
			<span class="col-xs-2"></span>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="ascap_min"
										 value="<%= ve['ascap_min'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="ascap_max"
										  value="<%= ve['ascap_max'] %>"></div>
			<div class="col-xs-2"><input readonly class="money  form-control skip_ajax  sys_gen sellout_potential"
										 data-category="ascap"></div>
		</div>
		<div class="row">
			<label class="col-xs-2 input_atomic">BMI
				<button type="button" id="bmi_update" data-toggle="modal" data-target="#bmi_modal">Update</button>
			</label>
			<div class="col-xs-2"><input class="form-control skip_ajax" name="bmi_note" value="<%= ve['bmi_note'] %>">
			</div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="bmi_flat_rate"
										  value="<%= ve['bmi_flat_rate'] %>"></div>
			<span class="col-xs-2"></span>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="bmi_min"
										 value="<%= ve['bmi_min'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="bmi_max"
										  value="<%= ve['bmi_max'] %>"></div>
			<div class="col-xs-2"><input readonly class="money  form-control skip_ajax  sys_gen sellout_potential" data-category="bmi"></div>
		</div>
		<div class="row">
			<label class="col-xs-2 input_atomic">Credit Card Fees</label>
			<div class="col-xs-2"><input class="form-control skip_ajax" name="cc_fee_note"
										 value="<%= ve['cc_fee_note'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="cc_fee_flat_rate"
										  value="<%= ve['cc_fee_flat_rate'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="cc_fee_per_ticket_dollar"
										 value="<%= ve['cc_fee_per_ticket_dollar'] %>"></div>
			<div class="col-xs-1"><input type="number" step="any" class="form-control skip_ajax" name="cc_fee_per_ticket_percent"
										 value="<%= ve['cc_fee_per_ticket_percent'] %>"></div>
			<div class="col-xs-1"><input class="money  form-control skip_ajax" name="cc_fee_min"
										 value="<%= ve['cc_fee_min'] %>"></div>
			<div class="col-xs-15"><input class="money  form-control skip_ajax" name="cc_fee_max"
										  value="<%= ve['cc_fee_max'] %>"></div>
			<div class="col-xs-2"><input readonly class="money  form-control skip_ajax  sys_gen sellout_potential" data-category="cc_fee"></div>
		</div>
		<div class="row">
			<label class="col-xs-2 input_atomic">Est. CC Box Office Sales (%)</label>
			<div class="col-xs-1 col-xs-offset-45"><input type="number" step="any" class="form-control skip_ajax" name="cc_box_office_sales_percent"
														  value="<%= ve['cc_box_office_sales_percent'] %>"></div>
			<div class="col-xs-4"></div>
		</div>
		<div class="row">
			<label class="col-xs-3 col-xs-offset-7 input_atomic underlined"><b>Total Variable Expenses</b></label>
			<div class="col-xs-2"><b><input readonly class="money  form-control skip_ajax  sys_gen" id="total_variable_expense"></b></div>
		</div>
	</div>
	<br>
	<div class="clearfix"></div>
	<h4>Artist Walkout</h4>
	<div class="form-group">
		<label class="col-xs-2 input_atomic">Net Potential</label>
		<div class="col-xs-3"><input readonly class="money form-control  sys_gen" id="aw_net_potential"
									 value="<%= V.net_potential %>"></div>
		<label class="col-xs-2 col-xs-offset-1 input_atomic">Est. Split Point</label>
		<span class="col-xs-1"></span>
		<div class="col-xs-3"><input readonly class="money form-control  sys_gen" id="aw_est_split_point"></div>
		<div class="clearfix"></div>

		<label class="col-xs-2 input_atomic">Estimated Expenses</label>
		<div class="col-xs-3"><input readonly class="money form-control  sys_gen" id="aw_est_expense"
									 value="<%= V.total_estimated_expenses %>"></div>
		<label class="col-xs-2 col-xs-offset-1 input_atomic">Artist Split (%)</label>
		<div class="col-xs-1"><input readonly class="form-control  sys_gen" id="aw_artist_split_percent"
									 value="<%= artist_split %>"></div>
		<div class="col-xs-3"><input readonly class="money form-control  sys_gen" id="aw_artist_split"></div>
		<div class="clearfix"></div>

		<label class="col-xs-2 input_atomic">Artist Fees</label>
		<div class="col-xs-3"><input readonly class="money form-control  sys_gen" id="aw_artist_fee"
									 value="<%= V.aw_artist_fee %>"></div>
		<label class="col-xs-2 col-xs-offset-1 input_atomic">Promoter Split (%)</label>
		<div class="col-xs-1"><input readonly class="form-control  sys_gen" id="aw_promoter_split_percent"
									 value="<%= V.aw_promoter_split_percent %>"></div>
		<div class="col-xs-3"><input readonly class="money form-control  sys_gen" id="aw_promoter_split"></div>
		<div class="clearfix"></div>

		<label class="col-xs-2 input_atomic text_underline">Estimated Total</label>
		<div class="col-xs-3"><input readonly class="money form-control  sys_gen" id="aw_est_total"></div>
		<label class="col-xs-2 col-xs-offset-1 input_atomic">Artist Production</label>
		<span class="col-xs-1"></span>
		<div class="col-xs-3"><input readonly class="money form-control  sys_gen" id="aw_artist_production"
									 value="<%= V.aw_artist_production %>"></div>
		<div class="clearfix"></div>

		<label class="col-xs-2 input_atomic text_underline">Breakeven Tix</label>
		<div class="col-xs-3"><b><input readonly type="number" class="form-control  sys_gen" id="aw_breakeven_tix"></b>
		</div>
		<label class="col-xs-2 col-xs-offset-1 input_atomic">Artist Walkout</label>
		<span class="col-xs-1"></span>
		<div class="col-xs-3"><b><input readonly class="money form-control  sys_gen" id="aw_artist_walkout"
										value="<%= V.aw_artist_walkout %>"></b></div>
		<div class="clearfix"></div>

	</div>
	<div class="col-xs-6">
		<h4>Merchandise</h4>
		<div class="form-group">
			<div class="row">
				<div class="col-xs-5"></div>
				<label class="col-xs-35">Venue Sells</label>
				<label class="col-xs-35">Artist Sells</label>
			</div>
			<div class="row">
				<label class="col-xs-5">Buyout</label>
				<input class="col-xs-35	money" name="merch_buyout_venue_sell" value="<%= merch_buyout_venue_sell %>">
				<input class="col-xs-35	money	" name="merch_buyout_artist_sell" value="<%= merch_buyout_artist_sell %>">
			</div>
			<div class="row">
				<label class="col-xs-5">Artist Split (%)</label>
				<input class="col-xs-35	" name="merch_artist_split_venue_sell" value="<%= merch_artist_split_venue_sell %>">
				<input class="col-xs-35		" name="merch_artist_split_artist_sell" value="<%= merch_artist_split_artist_sell %>">
			</div>
			<div class="row">
				<label class="col-xs-5">Venue Split (%)</label>
				<input class="col-xs-35	" name="merch_venue_split_venue_sell" value="<%= merch_venue_split_venue_sell %>">
				<input class="col-xs-35		" name="merch_venue_split_artist_sell" value="<%= merch_venue_split_artist_sell %>">
			</div>
			<div class="row">
				<label class="col-xs-5">Artist Split Media (%)</label>
				<input class="col-xs-35	" name="merch_artist_split_media_venue_sell" value="<%= merch_artist_split_media_venue_sell %>">
				<input class="col-xs-35		" name="merch_artist_split_media_artist_sell" value="<%= merch_artist_split_media_artist_sell %>">
			</div>
			<div class="row">
				<label class="col-xs-5">Venue Split Media (%)</label>
				<input class="col-xs-35	" name="merch_venue_split_media_venue_sell" value="<%= merch_venue_split_media_venue_sell %>">
				<input class="col-xs-35		" name="merch_venue_split_media_artist_sell" value="<%= merch_venue_split_media_artist_sell %>">
			</div>
			<div class="row">
				<label class="col-xs-12">&nbsp;</label>
			</div>
			<div class="row">
				<label class="col-xs-12" for="merch_note">Merchandise Note <textarea name="merch_note" class="form-control"
																					 value="<%= merch_note %>"><%= merch_note %></textarea></label></div>
		</div>
	</div>
	<div class="col-xs-6">
		<h4>Comps & Kills</h4>
		<div class="form-group">
			<div class="row">
				<div class="col-xs-5"></div>
				<label class="col-xs-35">Tickets</label>
				<label class="col-xs-35">Notes</label>
			</div>
			<div class="row">
				<label class="col-xs-5">Artist Comps</label>
				<input class="col-xs-35	" type="number" step="1" name="artist_comp" value="<%= artist_comp %>">
				<input class="col-xs-35	" name="artist_comp_note" value="<%= artist_comp_note %>">
			</div>
			<div class="row">
				<label class="col-xs-5">Production Comps</label>
				<input class="col-xs-35	" type="number" step="1" name="production_comp" value="<%= production_comp %>">
				<input class="col-xs-35	" name="production_comp_note" value="<%= production_comp_note %>">
			</div>
			<div class="row">
				<label class="col-xs-5">Promotional Comps</label>
				<input class="col-xs-35	" type="number" step="1" name="promotional_comp" value="<%= promotional_comp %>">
				<input class="col-xs-35	" name="promotional_comp_note" value="<%= promotional_comp_note %>">
			</div>
			<div class="row">
				<label class="col-xs-5">House Comps</label>
				<input class="col-xs-35	" type="number" step="1" name="house_comp" value="<%= house_comp %>">
				<input class="col-xs-35	" name="house_comp_note" value="<%= house_comp_note %>">
			</div>
			<div class="row">
				<label class="col-xs-5">Kills</label>
				<input class="col-xs-35	" type="number" step="1" name="kill" value="<%= kill %>">
				<input class="col-xs-35	" name="kill_note" value="<%= kill_note %>">
			</div>
			<div class="row">
				<label class="col-xs-5 underlined">Total Comps & Kills</label>
				<input readonly class="col-xs-35	 sys_gen" type="number" id="total_comp_kill" value="<%= V.total_comp_kill %>">
				<div class="col-xs-35	"></div>
			</div>
			<div class="row">
				<label class="col-xs-12" for="comp_kill_note">Comps & Kills Note <textarea name="comp_kill_note" class="form-control"
																						   value="<%= comp_kill_note %>"><%= comp_kill_note %></textarea></label>
			</div>

		</div>
	</div>

	<br>
	<div class="clearfix"></div>
	<button type="button" style="display: none;" class="btn btn-xs btn-danger delete">Delete This Offer</button>

	<!-- Modals -->
	<div class="modal fade" id="ascap_modal" tabindex="-1" role="dialog" aria-labelledby="ascap_rules">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="ascap_rules">Update ASCAP Default Rates</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<label class="col-xs-6">Event ID <input class="form-control" readonly type="text"
																value="<%= event_id %>"></label>
						<label class="col-xs-6">Artist <input class="form-control" readonly type="text"
															  value="<%= _.isObject(artist) ? artist.getFullName() : '' %>"></label>
						<label class="col-xs-6">Date <input class="form-control" readonly type="text"
															value="<%= show_date %>"></label>
						<label class="col-xs-6">Venue <input class="form-control" readonly type="text"
															 value="<%= (_.isObject(venue) && venue.hasOwnProperty('get')) ? venue.get('name') : '' %>"></label>
						<br>
					</div>
					<div class="row">
						<label class="col-xs-9 input_atomic">ASCAP Rate 0 - 2500 Tickets (%)</label>
						<span class="col-xs-3"><input class="form-control" name="ascap_0_2500"
													  value="<%= ascap_0_2500 %>"></span>
					</div>
					<div class="row">
						<label class="col-xs-9 input_atomic">ASCAP Rate 2501 - 5000 Tickets (%)</label>
						<span class="col-xs-3"><input class="form-control" name="ascap_2501_5000"
													  value="<%= ascap_2501_5000 %>"></span>
					</div>
					<div class="row">
						<label class="col-xs-9 input_atomic">ASCAP Rate 5001 - 10000 Tickets (%)</label>
						<span class="col-xs-3"><input class="form-control" name="ascap_5001_10000"
													  value="<%= ascap_5001_10000 %>"></span>
					</div>
					<div class="row">
						<label class="col-xs-9 input_atomic">ASCAP Rate 10001 - 25000 Tickets (%)</label>
						<span class="col-xs-3"><input class="form-control" name="ascap_10001_25000"
													  value="<%= ascap_10001_25000 %>"></span>
					</div>
					<div class="row">
						<label class="col-xs-9 input_atomic">ASCAP Rate 25001 - X Tickets (%)</label>
						<span class="col-xs-3"><input class="form-control" name="ascap_25001_x"
													  value="<%= ascap_25001_x %>"></span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="bmi_modal" tabindex="-1" role="dialog" aria-labelledby="bmi_rules">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
								aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="bmi_rules">Update BMI Default Rates</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<label class="col-xs-6">Event ID <input class="form-control" readonly type="text"
																value="<%= event_id %>"></label>
						<label class="col-xs-6">Artist <input class="form-control" readonly type="text"
															  value="<%= (artist && artist.hasOwnProperty('getFullName')) ? artist.getFullName() : '' %>"></label>
						<label class="col-xs-6">Date <input class="form-control" readonly type="text"
															value="<%= show_date %>"></label>
						<label class="col-xs-6">Venue <input class="form-control" readonly type="text"
															 value="<%= (venue && venue.hasOwnProperty('get')) ? venue.get('name') : '' %>"></label>
						<br>
					</div>
					<div class="row">
						<label class="col-xs-9 input_atomic">BMI Rate 0 - 2500 Tickets (%)</label>
						<span class="col-xs-3"><input class="form-control" name="bmi_0_2500" value="<%= bmi_0_2500 %>"></span>
					</div>
					<div class="row">
						<label class="col-xs-9 input_atomic">BMI Rate 2501 - 3500 Tickets (%)</label>
						<span class="col-xs-3"><input class="form-control" name="bmi_2501_3500"
													  value="<%= bmi_2501_3500 %>"></span>
					</div>
					<div class="row">
						<label class="col-xs-9 input_atomic">BMI Rate 3501 - 5000 Tickets (%)</label>
						<span class="col-xs-3"><input class="form-control" name="bmi_3501_5000"
													  value="<%= bmi_3501_5000 %>"></span>
					</div>
					<div class="row">
						<label class="col-xs-9 input_atomic">BMI Rate 5001 - 10000 Tickets (%)</label>
						<span class="col-xs-3"><input class="form-control" name="bmi_5001_10000"
													  value="<%= bmi_5001_10000 %>"></span>
					</div>
					<div class="row">
						<label class="col-xs-9 input_atomic">BMI Rate 10001 - X Tickets (%)</label>
						<span class="col-xs-3"><input class="form-control" name="bmi_10001_x"
													  value="<%= bmi_10001_x %>"></span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</form>

